body
{
    margin: 30px 20px 0px 20px;
    background: linear-gradient( #f8797d, white, white, #f8797d);
}
.imga
{
    width: 500px;
    height: 300px;
    margin: 20px 20px 0px 20px;
}
.imgb
{
    width: 500px;
    height: 300px;
    border-radius: 50%;
    margin: 30px 20px 0px 20px;
}
.texta
{
    text-align: center;
    padding: 0px 5px 5px 5px;
    line-height: 30px;
    font-size: larger;
}
h3{
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
}
h1
{
    text-align: center;
    font-size: 100px;
    font-style: italic;
    font-family: Kavoon ;
}

:root {
    --nbr-cols-slide: 8;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .section-slider {
   /* min-height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .slider {
    width: 40%;
    /*max-width: 600px;*/
    overflow: hidden;
    position: relative;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 center;
  }
  
  .slider .slide {
    height: 100%;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 2;
    overflow: hidden;
  }
  
  .slider .slide .col {
    width: calc(100% / var(--nbr-cols-slide));
    background-repeat: no-repeat;
    background-size: 800% auto;
    background-position-y: center;
  }
  
  .slider .slide .col:nth-child(1) {
    background-position-x: 0;
  }
  .slider .slide .col:nth-child(2) {
    background-position-x: 14.2%;
  }
  .slider .slide .col:nth-child(3) {
    background-position-x: calc(14.2% * 2);
  }
  .slider .slide .col:nth-child(4) {
    background-position-x: calc(14.2% * 3);
  }
  .slider .slide .col:nth-child(5) {
    background-position-x: calc(14.2% * 4);
  }
  .slider .slide .col:nth-child(6) {
    background-position-x: calc(14.2% * 5);
  }
  .slider .slide .col:nth-child(7) {
    background-position-x: calc(14.2% * 6);
  }
  .slider .slide .col:nth-child(8) {
    background-position-x: calc(14.2% * 7);
  }
  
  .slider .slide.one .col {
    background-image: url("1.png");
}
  .slider .slide.two .col {
    background-image: url("2.png");
  }
  .slider .slide.three .col {
    background-image: url("3.png");
  }
  .slider .slide.four .col {
    background-image: url("4.png");
  }
  
  .slider .slide .col:nth-child(odd) {
    transform: translateY(-100%);
  }
  .slider .slide .col:nth-child(even) {
    transform: translateY(100%);
  }
  
  .slider .slide.active .col {
    transition: transform 0.8s ease-out;
    z-index: 99;
    transform: translateY(0);
  }
  
  .controls {
    margin-top: 15px;
  }
  .controls a {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    margin: 0 5px;
  }
  
.arrow{
    height: 40px;
}

.left{
    background-color: #fff;
}

.controls div{
    display: inline-block;
}

.heading
{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    margin-left: 400px ;
}